<section role="About Map" class="aboutmap">
	<!-- <h5 class="text-centered">About this Map</h5> -->
	<p><strong>About this Map</strong>. This map depicts the tsunami evacuation zones (shaded in pink) developed by your local emergency management or county civil defense agency. These evacuation zones provide the minimum safe evacuation distance.</p>

	<p>This information is also available in your local telephone directory and from your county civil defense agency.</p> 

	<p>In the event of a locally generated tsunami, you may only have minutes to evacuate. If the ground is shaking, a locally generated tsunami may be occurring. Move to higher ground immediately, well away from the evacuation zone and low-lying coastal areas.</p>
</section>