<h4>Things to Know</h4>

<!-- <perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="50"> -->
	<div class="scroller">
		<p>
			<span class="img-warning"><img src="img/tsunami-sprite.png" alt="warning symbol"></span>
			<strong>Strong earthquakes may cause tsunamis</strong>: If the shaking causes you to fall or have difficulty standing, protect yourself from the earthquake. When the shaking stops, leave the evacuation zone immediately.
		</p>

		<p>
			<span class="img-warning"><img src="img/tsunami-sprite.png" alt="warning symbol"></span>
			<strong>Know the warning signs</strong>: As a tsunami approaches the shoreline, it could possibly expose the ocean floor, reef, and fish. You might see an approaching wall of water or hear a roar similar to that of a train or jet aircraft. If so, leave the evacuation zone immediately.
		</p>

		<p>
			<span class="img-warning"><img src="img/tsunami-sprite.png" alt="warning symbol"></span>
			<strong>When a Tsunami Watch</strong> is issued, local officials will begin to plan for response and evacuations. You should also begin to prepare by finding out if you are currently in the evacuation zone and begin to contact family and loved ones.
		</p>

		<p>
			<span class="img-warning"><img src="img/tsunami-sprite.png" alt="warning symbol"></span>
			<strong>When a Tsunami Advisory</strong> is issued, there will be no coastal evacuations; however officials will evacuate the ocean and beaches. Stay out of the ocean and away from beaches, and stay out of any canals or streams that feed directly from the ocean.
		</p>

		<p>
			<span class="img-warning"><img src="img/tsunami-sprite.png" alt="warning symbol"></span>
			<strong>Outdoor warning sirens</strong> are activated by your local emergency management or county civil defense agency to notify the public of potential hazards. When you hear a siren, turn on the nearest radio or television and listen for emergency information and instructions.
		</p>

		<p>
			<span class="img-warning"><img src="img/tsunami-sprite.png" alt="warning symbol"></span>
			<strong>If undamaged, structural steel or reinforced concrete buildings</strong> of six or more stories can provide increased protection on or above the third floor.
		</p>

		<p>
			<span class="img-warning"><img src="img/tsunami-sprite.png" alt="warning symbol"></span>
			<strong>Remain at least 100 feet away</strong> from inland waterways and marinas connected to the ocean because of wave surges and possible flooding.
		</p>

	</div><!-- /scroll -->
<!-- </perfect-scrollbar> -->
