<!--
	Language-specific text strings that are common to all regions, including titles, subtitles, tab and button labels, etc.
	Please note that the classes of the elements are used to identify them, so do not change them.
-->

<div class="strings">
	<div class="page_title">Tsunami Prepare!</div>

	<div class="page_btn_map">Evacuation Map</div>
	<div class="page_btn_info">Tsunami Information</div>

	<div class="search_placeholder">Enter a Street Address</div>
	<div class="search_go">Go</div>

	<div class="jump_to">Jump To </div>
	<div class="region_name_hi">Hawai'i</div>
	<div class="region_name_gu">Guam</div>
	<div class="region_name_as">American Somoa</div>
	<div class="region_name_mp">Commonwealth of the Northern Mariana Islands (CNMI)</div>

	<div class="language_select">Language</div>
	<div class="language_en">English</div>
	<div class="language_cn">中文</div>

	<div class="about_map">About This Map</div>

	<div class="infotab_tsunamievacuation">Tsunami Evacuation</div>
	<div class="infotab_tsunamiplan">Tsunami Plan Ahead</div>
	<div class="infotab_tsunamirisk">Tsunami Risk</div>
	<div class="infotab_tsunamiwarning">Tsunami Warning</div>
	
	<div class=""></div>
	<div class=""></div>
	<div class=""></div>
	<div class=""></div>
	<div class=""></div>
	<div class=""></div>
	<div class=""></div>
	<div class=""></div>
	<div class=""></div>
	<div class=""></div>
	<div class=""></div>
	<div class=""></div>
	<div class=""></div>
	<div class=""></div>
</div>
