<h2 class="text-yellow">Tsunami Evacuation</h2>

<p>If you are in a low-lying area near the coast or in the tsunami evacuation zone and you feel shaking that causes you to fall or have difficulty standing, get to higher ground immediately. A locally generated tsunami could reach the shore within minutes!</strong></p>

<h4>Evacuation Tips</h4>
<p>Tune in to your local television or radio stations for the most up-to-date information about tsunami evacuation centers in your area.</p>

<p>For questions about evacuation procedures in your community, contact your local emergency management agency:</p>
<p>
	<a href="http://ghs.guam.gov/" title="Go to site" target="_blank" class="btn-default block">Guam Office of Civil Defense</a>
</p>

<h4>When Sirens Sound</h4>
<div>
	<p><span class="img-warning"><img src="img/tsunami-sprite.png" alt="Yellow warning symbol"></span>
		First responders from the government of Guam will drive through villages with sirens and provide information about what to do. Follow the instructions issued by local officials.</p>
</div>
<div>
	<p><span class="img-warning"><img src="img/tsunami-sprite.png" alt="Yellow warning symbol"></span>
		If you are in the evacuation zone, <strong>prepare to move inland</strong>. If located outside a tsunami evacuation zone, <strong>stay outside of the evacuation zone and limit all non-emergency travel</strong>.
	</p>
</div>
<div>
	<p><span class="img-warning"><img src="img/tsunami-sprite.png" alt="Yellow warning symbol"></span>
		For strong local earthquakes, if you have <strong>access to an undamaged concrete or steel reinforced building</strong> of six or more stories, move above the third floor and stay put.
	</p>
</div>
<div>
	<p><span class="img-warning"><img src="img/tsunami-sprite.png" alt="Yellow warning symbol"></span>
		For distance-source tsunamis, you may have more time to react. A <strong>Tsunami Warning will be issued three or more hours before the estimated arrival time</strong>.  If you are in the evacuation zone when the warning sirens sound, prepare to move inland, or if you have access to a concrete or steel reinforced building of six or more stories, move above the third floor and stay put.
	</p>
</div>
<div>
	<p><span class="img-warning"><img src="img/tsunami-sprite.png" alt="Yellow warning symbol"></span>
		Avoid traffic gridlock! It may be safer and more efficient to <strong> walk </strong> out of the tsunami evacuation zone.
	</p>
</div>
<div>
	<p><span class="img-warning"><img src="img/tsunami-sprite.png" alt="Yellow warning symbol"></span>
		<strong>Remain outside the evacuation zone</strong> until local officials tell you that it is safe to return.
	</p>
</div>
<div>
	<p><span class="img-warning"><img src="img/tsunami-sprite.png" alt="Yellow warning symbol"></span>
		<strong>Do not use your telephone or make calls on your cell phone</strong> except for emergencies (texting and data use is ok).
	</p>
</div>
<div>
	<p><span class="img-warning"><img src="img/tsunami-sprite.png" alt="Yellow warning symbol"></span>
		<strong>Save yourself</strong>, not your possessions.
	</p>
</div>