
<h2 class="text-red">Tsunami Warning</h2>

<!-- Warning Signs -->
<h4>Know the Natural Warning Signs of a Tsunami -  use your senses!</h4>

<h5 class="float-left">FEEL</h5>
<span class="img-feel float-right">
	<img src="img/tsunami-sprite.png" alt="Hear audio icon">
</span>
<hr>
<p><em>Feel the ground shaking severely?</em></p>
<p>Head for higher ground. Strong local earthquakes may cause tsunamis.</p>

<h5 class="float-left">SEE</h5>
<span class="img-see float-right">
	<img src="img/tsunami-sprite.png" alt="Hear audio icon">
</span>
<hr>
<p><em>See an unusual disappearance of water, or an oncoming wall of water?</em></p>
<p>Immediately leave low-lying coastal areas and move inland. As a tsunami approaches the shoreline, sea levels often recede,exposing the ocean floor, reef, and fish.</p>

<h5 class="float-left">HEAR</h5>
<span class="img-hear float-right">
	<img src="img/tsunami-sprite.png" alt="Hear audio icon">
</span>
<hr>
<p><em>Hear the roar?</em></p>
<p>An approaching tsunami may create a loud “roaring” similar to the sound of a moving train or jet aircraft.</p>
<p>
	<a href="http://tap.pdc.org/TAK/General/Safety/Rules/ITIC_sensing_a_tsunami.pdf" title="Download Warning Signs PDF" target="_blank" class="btn-default block">Find and share a printable version of this information.</a>
</p>

<h4>Official Tsunami Warnings</h4>
<p>NOAA’s <a href="http://ptwc.weather.gov/" title="Go to site" target="_blank">Pacific Tsunami Warning Center</a> (PTWC) is responsible for tsunami monitoring and issuing necessary watches or warnings for Hawai‘i and the U.S. Pacific Islands.</p>

<h4>Tsunami Message Definitions</h4>

<p><em>Urgent Tsunami Warning</em>: Danger! Run for high ground and follow emergency instructions. Damaging waves are probable and arrival time may be within minutes. Sirens will sound.</p>

<p><em>Tsunami Warning</em>: Danger! A tsunami is imminent or expected. Evacuate to high ground and follow emergency instructions. Sirens will sound.</p>

<p><em>Tsunami Watch</em>: Prepare! A potentially destructive tsunami may impact the identified “watch” area. Listen to local radio and news to monitor conditions. Be ready to evacuate if the watch is upgraded to a tsunami warning.</p>

<p><em>Tsunami Advisory</em>: Possibly dangerous local currents. Move off the beach and stay out of the water. No sirens will sound.</p>

<p><em>Tsunami Information Statement</em>: Relax. No local danger, but a distant ocean basin may be in danger. No sirens will sound.</p>


<!-- Emergency Information -->
<h4>Emergency Information</h4>
<p>The Emergency Alert System, often called the EAS, is used to notify the public of approaching hazards. The EAS will be activated along with other warning methods such as the Outdoor Siren Warning System, Wireless Emergency Alerts, and local emergency notification systems.</p>

<p>If you are alerted about a tsunami hazard by any of the above methods, turn on the nearest radio or television and listen for emergency information and instructions.</p>

<h5>Guam Homeland Security</h5>

<a href="http://ghs.guam.gov/" title="Visit Office of Civil Defense" target="_blank" class="btn-default block">Office of Civil Defense</a>

<!-- Warning System -->

