<h2 class="text-green">Tsunami Plan</h2>

<h4>You cannot prevent a tsunami, but you can be prepared for one. Actions you take now could save your life and the lives of your loved ones.</h4>

<h4>Develop a Family Emergency Plan</h4>

<p>Prepare yourself and your family for a disaster by making an emergency plan. Your family may not be together when disaster strikes, so it is important to plan in advance.</p>

<p>Create your <a href="http://www.ready.gov/sites/default/files/documents/files/Family_Emegency_Plan.pdf" title="Download" target="_blank">Family Emergency Plan</a>, and visit the <a href="http://ghs.guam.gov/tsunamis" title="Go to site" target="_blank">Guam Civil Defense website</a> for more preparedness information.</p>

<div class="col float-left">
	<h5>Don’t Forget about Your Pets</h5>
	<p>Have <a href="http://www.ready.gov/caring-animals" target="_blank">preparations</a> in place to care for your pets in case you are ordered to evacuate.</p>
</div>

<div class="float-left">
	<div class="img-dog">
		<img src="img/tsunami-sprite.png" alt="Blue silhouette of dog with excimation over it's head with worry about being left behind">
	</div>
</div>

<div class="clearfix"></div>

<h4>Assemble an Emergency Preparedness Kit</h4>

<p><a href="http://www.ready.gov/build-a-kit" target="_blank">Emergency kits</a> should contain the essentials your family needs to survive during a disaster. You may be on your own for three days or more before emergency personnel reach you.</p>


<p>
	<a href="http://www.scd.hawaii.gov/documents/red_cross_kit_checklist.pdf" title="Download the Emergency Preparedness Kit Checklist" target="_blank"  class="btn-default block">Download the Emergency Preparedness Kit Checklist</a>
</p>

<h4>Plan Ahead</h4>
<p>Become familiar with potential evacuation routes, develop an evacuation plan, and update your plan when issues arise.</p>
<p>Practice your evacuation plan at least twice a year with your family so that when a tsunami occurs, you are prepared to act!</p>
<p>Keep in mind that hundreds of families in your area share the same concerns, and it may be difficult to access supplies because of shortages and competition.</p>
