<h4>知识了解</h4>
<div class="scroll perfectScrollbar">
	<p>
		<span class="img-warning"><img src="img/tsunami-sprite.png" alt="Yellow warning symbol"></span>
		<strong>附近强地震可能会导致海啸 - </strong>附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸附近强地震可能会导致海啸.
	</p>

	<p>
		<span class="img-warning"><img src="img/tsunami-sprite.png" alt="Yellow warning symbol"></span>
		<strong>了解预警信号 - </strong>附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸附近强地震可能会导致海啸.
	</p>

	<p>
		<span class="img-warning"><img src="img/tsunami-sprite.png" alt="Yellow warning symbol"></span>
		<strong>预警警报</strong>附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸附近强地震可能会导致海啸!
	</p>

	<p>
		<span class="img-warning"><img src="img/tsunami-sprite.png" alt="Yellow warning symbol"></span>
		<strong>未遭破坏的钢结构</strong>附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸.
	</p>

	<p>
		<span class="img-warning"><img src="img/tsunami-sprite.png" alt="Yellow warning symbol"></span>
		<strong>如果海啸观察发布，</strong>附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸.
	</p>

	<p>
		<span class="img-warning"><img src="img/tsunami-sprite.png" alt="Yellow warning symbol"></span>
		<strong>如果海啸预警发布，</strong>附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸附近强地震可能会导致海啸.
	</p>

	<p>
		<span class="img-warning"><img src="img/tsunami-sprite.png" alt="Yellow warning symbol"></span>
		<strong>保持在100英尺开外</strong> 附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸 附近强地震可能会导致海啸附近强地震可能会导致海啸.
	</p>

	<p>
		<strong>了解实时信息，请访问：</strong> <a href="http://www.google.com" target="_blank">NOAA Pacific Tsunami Warning Center</a>
	</p>
</div>
