<h3>Tsunami Plan Ahead</h3>
<h4>You cannot prevent a tsunami, but you can be prepared for one.  Actions you take now could save your life and the lives of your loved ones.</h4>
<h4>Develop a Family Emergency Plan</h4>
<p>Prepare yourself and your family for a disaster by making an emergency plan.  Your family may not be together when disaster strikes, so it is important to plan in advance.</p>
<p>Create your <a href="">Family Emergency Plan</a>, and visity the <a href="">Hawaii State Civil Defense</a> website for mor preparedness information.</p>
<strong>Don't forget about your pets</strong>
<p>Have preparations in place to care fo your pets in case you are ordered to evacuate.</p>

<h4>Assemble and Emergency Preparedness Kit</h4>
<p>Emergency preparedness kits should contain the essentials your family needs to survive during a disaster.  It may take 72 hours or mor for the emergency personnel to reach you.</p>
<strong>Recommendations for a Disaster Preparedness Kit</strong>
<img src="http://1.bp.blogspot.com/_ya73PuwV418/TN5WLtzqxkI/AAAAAAAAACk/Qj4s6yDEhno/s200/justin-bieber-calendar-2011-300x300.jpg">
<input type="button" value="Download the Emergency Preparedness Kit Checklist"  class="btn btn-default">

<h4>Plan Ahead</h4>
<p>Become familiar with potential evacuation routes, develop and evacuation plan, and update it when issues arise.</p>
<p>Practice your evacuation plan at least twice a year with your family so when there is a tsunami, you are prepared to act!</p>
<p>Keep in mind hundreds of families in your area share the same concerns, and it will be difficult to access the necessities you need due to shortages and competition.</p>
<p><strong>Sign up to be included</strong> in your local emergency notification system</p>
<button  class="btn btn-default">Hawaii</button><button  class="btn btn-default">Maui</button><button  class="btn btn-default">Kauai</button><button  class="btn btn-default">Oahu</button>
<p>if you are <strong>hearing impaired, </strong>sign up for the <a href="">Sprint Relay Hawaii text notification tool.</a></p>
