<h3>Tsunami Risk</h3>
<h4>Knowledge is safety.  To reduce your risk, know your tsunami facts.</h4>

<h4>What is a tsunami?</h4>
<p><strong>A tsunami</strong>(Japenese for "harbor waves") is a series of ocean waves produced by a sudden rise or fall in the earth's crust, most commonly caused by an earthquake or underwater landslide.</p>
<p>In the open ocean, tsunami waves cannot be seen or felt by ships or airplanes because the water are actually hundreds of miles wide, with a height of only a few feet.  But as the waves approach the coast, their height increases dramatically and can be very destructive when they reach the shore.</p>

<h4>Understand the Theat</h4>
<div>
	<p><i class="fa fa-exclamation-triangle"></i>
		Tsunamis are Hawaii's <strong>number one natural disaster killer</strong>.
	</p>
</div>
<div>
	<p><i class="fa fa-exclamation-triangle"></i>
		<strong>All low-lying coastal areas, </strong>harbors, streams, and rivers in Hawai'i are vulnerable to tsunami impacts.
	</p>
</div>
<div>
	<p><i class="fa fa-exclamation-triangle"></i>
		<strong>Tsunamis can occcur at anytime.</strong>  Earthquakes and/or landslides tha may trigger tsunamis cannot be forecasted.
	</p>
</div>

<h4>Local Tsunamis vs. Distant Source Tsuanmis</h4>
<p>Locally generated tsunamis can arrive at the coast within minutes, even before a warning can be issued.</p>
<p>All Islands are also vulnerable to distant source tsunamis.  These tsunamis resul from distant earthquakes and/or landslides in places like Chile, Alaska, and Japan, and can arrive within hours.</p>

<h4>Visit these resources for additional tsunami information:</h4>
<ul>
	<li>
		<p><a href="http://itic.ioc-unesco.org/index.php" target="_blank">International Tsunami Information Center</a></p>
	</li>
	<li>
		<p><a href="http://www.tsunami.noaa.gov/" target="_blank">NOAA Tsunami Website</a></p>
	</li>
	<li>
		<p><a href="http://www.tsunami.org/historical.html" target="_blank">Pacific Tsunami Museum</a></p>
	</li>
	<li>
		<p><a href="https://www.meted.ucar.edu/training_module.php?id=813" target="_blank">Tsunami Strike! Pacific Edition</a></p>
	</li>
	<li>
		<p><a href="https://ndptc.hawaii.edu/" target="_blank">National Disaster Preparedness Training Center</a></p>
	</li>
</ul>
