
<h3>Tsunami Warning</h3>

<h4>Know the Natural Warning Signs of a Tsunami -  use your senses!</h4>
<strong>FEEL</strong>
<hr>
<p class="italicize">Feel the ground shaking severly?</p>
<p>Head for higher ground. Strong local earthquakes may cause tsunamis.</p>
<strong>SEE</strong>
<hr>
<p class="italicize">See an unusual dissappearance of water, or an oncoming wall of water?</p>
<p>Immediately leave low-lying coastal areas and move inland.  As a tsunami approaches the shoreline, sea levels often recede, exposing the ocean floor, reef, and fish</p>
<strong>HEAR</strong>
<hr>
<p class="italicize">Hear the roar?</p>
<p>An approaching tsunami may create a loud "roaring", similar to the sound of a moving train or jet aircraft.</p>

<h4>Emergency Information</h4>
<p><strong>The Hawai'i State Emergency Alert System (EAS)</strong> is the mechanism used to notify the public of a possible approaching tsunami.	
</p>
<p><strong>Listen</strong> for the steady three minute siren tone (this is the attention alert signal).	
</p>
<p><strong>Turn on the nearest radio</strong> or television and listen for emergency information and instruction.	
</p>
<p class="italicize">As part of the EAS, designated radio and local television broadcasting statsion were selected as primary sources for emergency information.
</p>
<a href="http://www.google.com" target="_blank">Hawai'i State Civil Defense</a>

<h4>Pacific Tsunami Warning System</h4>
<p><strong>NOAA's <a href="" target="_blank">Pacfifice Tsunami Warning Center</a></strong>(PTWX) is responsible for tsunami monitoring and issuing necessary watches or warnings for Hawai'i and the U.S. Pacific Islands.</p>

<strong>Tsunami Message Definitions</strong>
<ul>
	<li>Urgent Tsunami Warning</li>
	<li>Tsunami Warning</li>
	<li>Tsunami Watch</li>
	<li>Tsunami Advisory</li>
	<li>Tsunami Information Statement</li>		
</ul>
