<h3>Tsunami Evacuation</h3>

<p>If you are in a low lying area near the coast or in the tsunami evacuation zone and you feel shaking that causes you to fall or have difficulty standing, get to higher ground immediately, <strong>a locally generated tsunami could reach the shore within minutes!</strong></p>

<h4>Evacuation Tips</h4>
<p>Tune in to your local TV broacasting station or radio for the most up-to-date information regarding tsunami evacuation centers in your area.</p>

<div class="well">
	<p>For questions about evacuation procedures for your communtiy contact your county civil defense agency:</p>
	<ul>
		<li><a href="">City and County of Honolulu Department of Emergency Management</a></li>
		<li><a href="">Maui Civil Defense Agency</a></li>
		<li><a href="">Kauai Civil Defense Agency</a></li>
		<li><a href="">Hawai'i County Civil Defense Agency</a></li>
	</ul>
</div><!-- /well -->

<h4>When Sirens Sound</h4>
<div>
	<p><span class="img-warning"><img src="img/tsunami-sprite.png" alt="Yellow warning symbol"></span>
		Follow the evauation order issued by authorities.
	</p>
</div>
<div>
	<p><span class="img-warning"><img src="img/tsunami-sprite.png" alt="Yellow warning symbol"></span>
		If you are in the evacuation zone, <strong>prepare to move inland.</strong>  If located outside a tsunami evacuation zone, <strong>stay outside of the evacuatio zone and limi all non-emergency travel.</strong>
	</p>
</div>
<div>
	<p><span class="img-warning"><img src="img/tsunami-sprite.png" alt="Yellow warning symbol"></span>
		For strong local earthquakes: If you have <strong>access to an undamaged concrete or stell reinforced building</strong> of 6 or more stories, move above the third floor and stay put.
	</p>
</div>
<div>
	<p><span class="img-warning"><img src="img/tsunami-sprite.png" alt="Yellow warning symbol"></span>
		For distance source tsuanmis, you may have more time to react.  A <strong>Tsunami Warining will be issued three hours prior to the estimated arrival time.</strong>  If you are in the evacuation zone when the warning sirenes sound, prepare to move inland, or If you have access to an undamaged concrete or stell reinforced building of 6 or more stories, move above the third floor and stay put.
	</p>
</div>
<div>
	<p><span class="img-warning"><img src="img/tsunami-sprite.png" alt="Yellow warning symbol"></span>
		Avoid traffic gridlock! It may be safer and more efficient to <strong>walk out of the tsunami evacuation zone.</strong>
	</p>
</div>
<div>
	<p><span class="img-warning"><img src="img/tsunami-sprite.png" alt="Yellow warning symbol"></span>
		<strong>Remain outside the evacuation zone</strong> until the All Clear signal is issued by local civil defense authorities.
	</p>
</div>
<div>
	<p><span class="img-warning"><img src="img/tsunami-sprite.png" alt="Yellow warning symbol"></span>
		<strong>Do not use your telephone or cell phone</strong> except for emergencies.
	</p>
</div>
<div>
	<p><span class="img-warning"><img src="img/tsunami-sprite.png" alt="Yellow warning symbol"></span>
		<strong>Save yourself, </strong> not your possessions.
	</p>
</div>
<div>
	<p><span class="img-warning"><img src="img/tsunami-sprite.png" alt="Yellow warning symbol"></span>
		Remember, <strong>all public schools in tsunami evacuation zones have emergency evaucation plans</strong> in the event of a Tsunami Warning.
	</p>
</div>
